<!-- Modal -->
<div class="modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="<%= modal_id %>-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="<%= modal_id %>-modal-label">创建新项目</h4>
      </div>
      <%= form_for Project.new, html: {class: "form-horizontal"} do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label '名称', class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label '互联网平台', class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <%= f.text_field :platform_zh, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label '交易所', class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <%= f.select :bourse, Project::BOURSE.map(&:reverse), {}, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label '产品类型', class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <%= f.select :category, Project::CATEGORY, {}, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label '流程模板', class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <label class="radio-inline">
                <%= f.radio_button :recipe, :jingdong, checked: 'checked' %> 京东
              </label>
              <label class="radio-inline">
                <%= f.radio_button :recipe, :normal %> 其他
              </label>
            </div>
          </div>
          <div class="form-group">
            <%= f.label '执行环境', class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <label class="radio-inline">
                <%= f.radio_button :env, :test, checked: 'checked' %> 测试
              </label>
              <label class="radio-inline">
                <%= f.radio_button :env, :online %> 上线
              </label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= f.button "确认", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
