<section class="hbox stretch">
  <%= render partial: 'shared/aside' %>

  <!-- .vbox -->
  <section id="content">
    <section class="vbox">
      <header class="header bg-light bg-gradient b-b">
        <p></p>
      </header>

      <section class="scrollable wrapper">
        <div class="">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>名称</th>
                <th>分类</th>
                <th>阶段</th>
                <th>阶段进度</th>
                <th>当前任务</th>
                <!-- <th>执行人</th> -->
                <!-- <th>等待时间</th> -->
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
                <% current_stage  = project.current_stage %>
                <% current_task   = project.current_task %>
                <%= content_tag(:tr)  do %>
                  <%= content_tag(:td, project.name) %>
                  <%= content_tag(:td, project.env) %>
                  <%= content_tag(:td, current_stage.name) %>
                  <%= content_tag(:td, current_stage.progress) %>
                  <%= content_tag(:td, current_task.name) %>
                  <%# <%= content_tag(:td, current_task.owner) %>
                  <%# <%= content_tag(:td, current_stage.pending_time) %>
                  <%= content_tag(:td, link_to('进入项目', project_path(project))) %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            添加新项目
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">创建新项目</h4>
                </div>
                <%= form_for Project.new, html: {class: "form-horizontal"} do |f| %>
                  <div class="modal-body">
                    <div class="form-group">
                      <%= f.label '名称', class: "col-sm-2 control-label" %>
                      <div class="col-sm-4">
                        <%= f.text_field :name, class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label '产品类型', class: "col-sm-2 control-label" %>
                      <div class="col-sm-4">
                        <%= f.select :category, %w(私募债 理财产品 收益权转让), {}, class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label '执行环境', class: "col-sm-2 control-label" %>
                      <div class="col-sm-4">
                        <label class="radio-inline">
                          <%= f.radio_button :env, :test, checked: 'checked' %> 测试
                        </label>
                        <label class="radio-inline">
                          <%= f.radio_button :env, :online %> 上线
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label '流程模板', class: "col-sm-2 control-label" %>
                      <div class="col-sm-4">
                        <label class="radio-inline">
                          <%= f.radio_button :recipe, :jingdong, checked: 'checked' %> 京东
                        </label>
                        <label class="radio-inline">
                          <%= f.radio_button :recipe, :other %> 其他
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <%= f.button "确认", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>



      </section>

    </section>
  </section>
  <!-- /.vbox -->
</section>

