<section class="hbox stretch">
  <%= render partial: 'shared/aside' %>

  <!-- .vbox -->
  <section id="content">
    <section class="vbox">
      <header class="header bg-light bg-gradient b-b">
        <% flash.each do |name, msg| %>
          <%= content_tag(:p, msg, class: "flash-#{name}") %>
        <% end %>
      </header>

      <section class="scrollable wrapper">
        <div class="">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>名称</th>
                <th>产品类型</th>
                <th>互联网平台</th>
                <th>交易所</th>
                <th>执行环境</th>
                <th>当前阶段</th>
                <th>阶段进度</th>
                <th>当前任务</th>
                <!-- <th>执行人</th> -->
                <!-- <th>等待时间</th> -->
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
                <% current_stage  = project.current_stage %>
                <% current_task   = project.current_task %>
                <%= content_tag(:tr, nil, data: {project_id: project.id.to_s} )  do %>
                  <%= content_tag(:td, project.name) %>
                  <%= content_tag(:td, project.category) %>
                  <%= content_tag(:td, project.platform) %>
                  <%= content_tag(:td, Project::BOURSE[project.bourse]) %>
                  <%= content_tag(:td, project.zh_env) %>
                  <%= content_tag(:td, current_stage.name) %>
                  <%= content_tag(:td, current_stage.progress) %>
                  <%= content_tag(:td, current_task.try(:name)) %>
                  <%# <%= content_tag(:td, current_task.owner) %>
                  <%# <%= content_tag(:td, current_stage.pending_time) %>
                  <%= content_tag(:td, class: 'col-sm-2') do %>
                    <%= link_to '进入项目', project_path(project) %>
                    <%= link_to content_tag(:i, nil, class: 'fa fa-times'),   project_path(project), method: :delete, class: 'pull-right project-delete' %>
                    <%= link_to content_tag(:i, nil, class: 'fa fa-pencil'),  "#", class: 'pull-right project-edit' %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

        <div>

          <% if Project.count > 0 %>
            <%= render partial: 'edit_form', locals: {modal_id: "edit-project-form"} %>
          <% end %>

          <%= link_to content_tag(:i,  ' 添加新项目', class: 'fa fa-plus-circle'),  "#", class: "btn btn-link", data: {toggle: "modal", target: "#new-project-form"} %>
          <%= render partial: 'new_form', locals: {modal_id: "new-project-form"} %>

        </div>


      </section>

    </section>
  </section>
  <!-- /.vbox -->
</section>

