<% content ||= nil %>

<li class="list-group-item baton-step-list">
  <a href="#" class="pull-right <%= done ? '' : 'step-run' %>" data-step-id="<%= step_id %>"><i class="fa <%= done ? 'fa-check' : 'fa-play' %>"></i></a>

  <% unless done %>
    <%= hidden_field_tag 'param_direction', direction, class: 'param-direction'  %>
    <%= tag(:input, type: 'date', class: 'param-date pull-right step-param', value: Date.today.to_s) %>
  <% end %>

  <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> <%= number %></span>
  <div class="clear">
    <%= content || yield %>
  </div>

  <div class="panel task-panel step-result" style="<%= done ? '' : 'display:none' %>">
    <div class="panel-body">
      <% if done %>
        <%= result[:html] %>
      <% end %>
    </div>
  </div>
</li>
