<% stage_id = @project.stages.index(@stage) %>

<section class="hbox stretch">
  <%= render partial: 'shared/aside' %>

  <!-- .vbox -->
  <section id="content">
    <section class="vbox">
      <header class="header bg-light bg-gradient b-b">
      </header>

      <section class="scrollable wrapper">
        <div class="project-panel" data-project-id="<%= @project.id %>">
          <% # Stage Display %>
          <div class="progress stage-panel" style="width: 80%">
            <% @project.stages.each_with_index do |stage, idx| %>
              <div class="progress-bar <%= stage_id == idx ? 'progress-bar-striped active' : '' %>" style="width: 25%; border-right: 1px solid white" data-stage-id="<%= stage.id %>">
                <%= stage.name %>
              </div>
            <% end %>
          </div>

          <div class="row">

            <div class="col-lg-8">
              <!-- .accordion -->
              <div class="panel-group m-b" id="accordion_stage1">

                <%= render partial: "#{@project.recipe}/stage" %>
                <%# <%= render partial: 'jingdong/stage' %>
              </div>

            </div>

          </div>

        </div>
      </section>
    </section>
  </section>
  <!-- /.vbox -->
</section>

