<% content ||= nil %>

<li class="list-group-item baton-step-list">
  <a href="#" class="pull-right step-run" data-step-id="<%= step_id %>"><i class="fa <%= done ? 'fa-repeat' : 'fa-play' %>"></i></a>

  <%= hidden_field_tag 'param_direction', query[:direction], class: 'param-direction'  %>
  <% if query.key?(:date) %>
    <%= tag(:input, type: 'date', class: 'param-date pull-right step-param', value: query[:date]) %>
  <% end %>

  <span class="pull-left media-xs step-status"><i class="fa <%= done ? 'fa-check' : 'fa-arrow-right' %> text-muted fa-sm"></i> <%= number %></span>
  <div class="clear">
    <%= content || yield %>
  </div>

  <div class="panel task-panel step-result" style="<%= done ? '' : 'display:none' %>">
    <div class="panel-body">
      <% if done %>
        <%= result[:html] %>
      <% end %>
    </div>
  </div>
</li>
