<li class="list-group-item baton-step-list">
  <a href="#" class="pull-right step-run" data-step-id="<%= step.id.to_s %>"><i class="fa <%= step.done? ? 'fa-repeat' : 'fa-play' %>"></i></a>

  <span class="pull-left media-xs step-status"><i class="fa <%= step.done? ? 'fa-check' : 'fa-arrow-right' %> text-muted fa-sm"></i> <%= step_idx+1 %></span>
  <div class="clear">
    <%= step.name %>
  </div>

  <div class="panel task-panel step-result" style="display:none">
    <div class="panel-body">
      <% if step.done? %>
        <%= html_format(step.result)[:html] %>
      <% end %>
    </div>
  </div>
</li>


